img[src$='#img-thumbnail'] {
  max-width: 150px;
  max-height: 150px;
}

.brand-mark {
  font-family: "Courier New", Courier, monospace;
  vertical-align: middle;
}

.site-avatar img {
  vertical-align: middle;
  margin-right: .4em;
}